body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  background: rgb(238,174,202);
  transition: all 0.6s ease-in-out;
}

.specialBackground {
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

.header-title {
  font-weight: lighter;
  font-size: 40px;
  letter-spacing: 2px;
  margin-bottom: 0px;
  font-family: "Lucida Console", "Times New Roman";
  font-style: italic;
  color: white;
  cursor: pointer;
}

.fortune-image {
  margin-top: 10px;
}

.inputSection {
  margin: 50px 0px 80px 0px;
  width: 400px;
}

.inputs {
  width: inherit;
  display: flex;
  flex-direction: column;
}

input {
  margin-top: 10px;
}

.addOption {
  margin-top: 10px;
}

.resultSection {
  height:  300px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  color: white;

}
